.Carousel-prev-23 {
  left: 200px;
}
.Carousel-prev-24 {
  left: 200px;
}
.Carousel-prev-25 {
  left: 200px;
}
.Carousel-prev-26 {
  left: 200px;
}

.Carousel-next-23 {
  right: 200px;
}
.Carousel-next-24 {
  right: 200px;
}
.Carousel-next-25 {
  right: 200px;
}
.Carousel-next-26 {
  right: 200px;
}